name: my_design_system_icons
description: Automated icon font package from Figma.
version: 1.1.1
publish_to: 'none'

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  fonts:
    - family: MyIcons
      fonts:
        - asset: generated/MyIcons.ttf
