@font-face {
    font-family: "MyIcons";
    src: url("./MyIcons.ttf?8712f262ba5ee48c6571364dfb51fd5b") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: MyIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-notifications_outlined:before {
    content: "\f101";
}
.icon-notifications_filled:before {
    content: "\f102";
}
.icon-club_outlined:before {
    content: "\f103";
}
.icon-club_filled:before {
    content: "\f104";
}
.icon-cloud_outlined:before {
    content: "\f105";
}
.icon-cloud_filled:before {
    content: "\f106";
}
