@font-face {
    font-family: "MyIcons";
    src: url("./MyIcons.ttf?da4245f18c9a7fc83341478d2fc89768") format("truetype"),
url("./MyIcons.woff2?da4245f18c9a7fc83341478d2fc89768") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: MyIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-percent_outlined:before {
    content: "\f101";
}
.icon-percent_filled:before {
    content: "\f102";
}
.icon-notifications_outlined:before {
    content: "\f103";
}
.icon-notifications_filled:before {
    content: "\f104";
}
.icon-club_outlined:before {
    content: "\f105";
}
.icon-club_filled:before {
    content: "\f106";
}
.icon-cloud_outlined:before {
    content: "\f107";
}
.icon-cloud_filled:before {
    content: "\f108";
}
.icon-circle_outlined:before {
    content: "\f109";
}
.icon-circle_filled:before {
    content: "\f10a";
}
