@font-face {
    font-family: "MyIcons";
    src: url("./MyIcons.ttf?b4c679c8c98bd6f696a1671c91ae724f") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: MyIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-club_outlined:before {
    content: "\f101";
}
.icon-club_filled:before {
    content: "\f102";
}
