@font-face {
    font-family: "MyIcons";
    src: url("./MyIcons.ttf?ed98b0059421c2e1ec0f2d053ec94ad7") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: MyIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-notifications_outlined_24:before {
    content: "\f101";
}
.icon-notifications_outlined_20:before {
    content: "\f102";
}
.icon-notifications_outlined_16:before {
    content: "\f103";
}
.icon-notifications_filled_24:before {
    content: "\f104";
}
.icon-notifications_filled_20:before {
    content: "\f105";
}
.icon-notifications_filled_16:before {
    content: "\f106";
}
.icon-club_outlined:before {
    content: "\f107";
}
.icon-club_filled:before {
    content: "\f108";
}
.icon-chart_outlined_24:before {
    content: "\f109";
}
.icon-chart_outlined_20:before {
    content: "\f10a";
}
.icon-chart_outlined_16:before {
    content: "\f10b";
}
.icon-chart_filled_24:before {
    content: "\f10c";
}
.icon-chart_filled_20:before {
    content: "\f10d";
}
.icon-chart_filled_16:before {
    content: "\f10e";
}
.icon-alert_outlined_24:before {
    content: "\f10f";
}
.icon-alert_outlined_20:before {
    content: "\f110";
}
.icon-alert_outlined_16:before {
    content: "\f111";
}
.icon-alert_filled_24:before {
    content: "\f112";
}
.icon-alert_filled_20:before {
    content: "\f113";
}
.icon-alert_filled_16:before {
    content: "\f114";
}
